{% extends "base.html" %}
{% block title %}Libra Online Library - Home{% endblock %}
{% block body %}
<div class="container">
    <div>
        <center>
            <img src="/static/images/libra_online_book_cbg.png" alt="Libra Online Library" height="100">
        </center>
    </div>
    <div>
        <center>
            <h1>Libra Online Library</h1>
            <p>Online library with a collection of books of all genres</p>
        </center>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center bg-primary text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Indexed Documents</h5>
                    <p class="card-text display-4">{{ stats.total_docs }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center bg-success text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Indexed Words</h5>
                    <p class="card-text display-4">{{ stats.total_words }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Documents per Year</h5>
                    <ul class="list-group list-group-flush mt-3">
                        {% for year, count in stats.docs_per_year.items() %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Year {{ year }}
                            <span class="badge bg-primary rounded-pill">{{ count }} documents</span>
                        </li>
                        {% else %}
                        <li class="list-group-item text-center text-muted">No documents available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}